

body {
  margin: 0 !IMPORTANT;
  padding: 0;
  font-family: sans-serif;
  background-color: #000;
  color: #fff;
}

.primary{
  background-color: #1c1e22 !IMPORTANT;
}
.second-bg{
  /* background-color: #272b30; */
}

.avatar{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.scroll-v{
  flex-wrap: initial;
  overflow-x: scroll;
}
select{
  width: auto;
  height: 30px;
  background: transparent;
  color: #fff;
  border: 1px solid #b99205;
  padding: 5px;
  margin: 15px;
}
.gold{
  background-color: #FF9800;
}

.MuiTabIndicator-colorPrimary-132 {
  background-color: #ffc107 !IMPORTANT;
}

.background {
  background: url('./images/intro-bg.jpg');
}

.carousel{
  width: 150px;
  height: 220px;
  overflow-x: scroll;

}
.carousel img{
  width: 150px;
}

.loading svg{
  width: 50px;
  color: #ff9800;
}
.loading{
  /* margin-top: 30%; */
  text-align: center !IMPORTANT;
  width: 100% !IMPORTANT;
}

.alignCenter{
  text-align: center;
}

.btn-loading{
  width: 100% !IMPORTANT;
  background: #1c1e22 !IMPORTANT;
}